 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Lato', sans-serif;
 }
 
 body {
     min-height: 100vh;
 }
 
 a {
     text-decoration: none;
 }
 
 li {
     list-style: none;
 }
 
 h1,
 h2 {
     color: #000;
 }
 /* side-menu css */
 
 .side-menu {
     background: #0084fe;
     min-height: 100vh;
     display: flex;
     justify-content: center;
     flex-direction: column;
 }
 
 .side-menu li {
     font-size: 1.5em;
     padding: 20px 20px 20px 0px;
     color: #fff;
     display: flex;
     justify-content: flex-end;
 }
 
 .side-menu li:hover {
     border-bottom: 1px solid #fff;
     cursor: pointer;
 }
 /* side-menu css */
 /* header */
 .side-menu a{
     text-decoration: none;
     color: #fff;
 }
 .header {
     display: flex;
     justify-content: flex-start;
     align-items: flex-end;
     min-height: 10vh;
     padding-left: 120px;
     border-bottom: 2px solid #c4c4c4;
 }
 
 .header h1 {
     font-weight: bold;
 }
 /* header */
 /* SEARCH RESIDENT INFO */
 /* search-contents */
 
 .search-content {
     display: flex;
     justify-content: flex-start;
     align-items: center;
     margin-top: 50px;
 }
 
 .search-bar input {
     width: 700px;
     height: 50px;
     padding-left: 20px;
     border: 1px solid #000;
     border-radius: 5px;
     outline: none;
 }
 
 .search-btn {
     background: #24FE00;
     color: #fff;
     border: 1px solid #24FE00;
     font-weight: bold;
     font-size: 17px;
     width: 205px;
     height: 50px;
 }
 
 .search-data {
     margin-top: 20px;
     max-width: 1000px;
     padding-right: 200px;
     height: 60vh;
     overflow: hidden;
     overflow-y: scroll;
 }
 
 .cenT {
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .edit-btn {
     width: 100%;
     padding: 10px 0;
     background: #0084fe;
     color: #fff;
     border: 1px solid #0084fe;
 }
 
 .search-data .card {
     border: 2px solid #000;
     margin-top: 10px;
 }
 
 .conDes {
     line-height: 3px;
 }
 
 .conDes p {
     font-weight: bold;
 }
 /* SEARCH RESIDENT INFO */
 /* AddResident INFO */
 
 .transaction-id {
     display: flex;
     justify-content: space-around;
     padding-right: 100px;
 }
 
 .user-details {
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .user-details span {
     width: 200px;
     font-weight: bold;
 }
 
 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
     -webkit-appearance: none;
     margin: 0;
 }
 
 .user-input-field {
     border: none !important;
     border-bottom: 1px solid #000 !important;
     border-radius: 0 !important;
 }
 
 .form-control:focus {
     box-shadow: none;
 }
 
 .signiture {
     background: #c4c4c4;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 40vh;
     padding: 0;
 }
 
 .signiture canvas {
     width: 100%;
     height: 40vh;
     border: 1px solid #000;
 }
 
 .brgy-id {
     display: flex;
     justify-content: space-around;
     font-weight: bold;
 }
 
 .brgy-title {
     display: flex;
     justify-content: center;
     font-weight: bold;
 }
 
 .canvas-picture {
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .canvas-picture canvas {
     border: 1px solid #000;
     background-color: #c4c4c4;
 }
 
 .webcam {
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .webcam button {
     width: 300px;
     padding: 2px;
     background: #fff;
     border: 1px solid #000;
 }
 
 .btn-buttons {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
 }
 
 .btn-confirm {
     width: 300px;
     padding: 5px;
     background-color: #24FE00;
     border: 1px solid #24FE00;
     color: #fff;
 }
 
 .btn-save {
     width: 300px;
     padding: 5px;
     border: 1px solid #0084fe;
     background: #0084fe;
     color: #fff;
 }
 
 .pss-modal {
     display: flex;
     flex-direction: row;
 }
 
 .btn-enter {
     width: 200px;
     padding: 5px;
     background-color: #24FE00;
     border: 1px solid #24FE00;
     color: #fff;
 }
 
 .f-end {
     display: flex;
     justify-content: flex-end;
 }
 /* AddResident INFO */